html {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100vh;
  width: 100%;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  z-index: -10;
  background: linear-gradient(to bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("prima2.7.jpg")  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.widescreen {
  display: none;
}

.smallscreen {
  width: 100%;
}

/* .emptydiv::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;
  background: url('prima2.6.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.emptydiv {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: url('prima2.6.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.primatxt {
  font-size: 5vh;
  font-family: "lust-sans";
  color: #436f78;
}

.firstimg {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 35vh;
  background-image: url('prima6.jpg');
  background-size: cover;
  background-position: center;
}

.yatll {
  padding-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-top: 5px solid #436f78;
  margin-top: 5vh;
  text-align: center;
  font-size: 7vw;
  font-family: "lust-sans";
  font-style: italic;
  color: #436f78;
}

.buttonsdiv {
  margin-top: 5vh;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding-bottom: 5vh;
  border-bottom: 5px solid #436f78;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

a.buttonsdiv {
  text-decoration: none;
}

.myBtn {
  padding-left: 1vw;
  padding-right: 1vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #dec699;
  font-size: 4vh;
  background-image: linear-gradient(rgba(67, 111, 120, 0.8), rgba(67, 111, 120, 0.8));
  width: auto;
  height: 7vh;
  cursor: pointer;
  /* display: inline-block; */
  border: 3px solid #dec699;
  transition: border 1s;
  text-decoration: none;
}

.myBtn1:hover {
  /* border: 2px solid black; */
  background-image: linear-gradient(rgba(67, 111, 120, 0.3), rgba(67, 111, 120, 0.3));
  /* animation: slide 2s forward; */
}

.secondimg {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 35vh;
  background-image: url('prima3.jpg');
  background-size: cover;
  background-position: center;
}

.aftersi {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-top: 5px solid #436f78;
  border-bottom: 5px solid #436f78;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 4vh;
  font-family: Montserrat;
  text-align: center;
  color: #436f78;

}

.thirdimg {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 35vh;
  background-image: url('prima4.jpg');
  background-size: cover;
  background-position: center;
}

.afterti {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-top: 5px solid #436f78;
  border-bottom: 5px solid #436f78;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 4vh;
  font-family: Montserrat;
  text-align: center;
  color: #436f78;

}

.contactinfo {
  width: 90%;
  font-size: 3vh;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
  text-align: center;
  color: #436f78;
}

.materialicons {
  vertical-align: middle;
}

.emailaddress {
  font-size: 2.3vh;
}
                                          /* property page */


.viewourproperties {
  width: 75%;
  height: auto;
  text-align: center;
  font-size: 2em;
  font-family: "lust-sans";
  color: #436f78;
  font-weight: bolder;
  margin-bottom: 5vh;
}

#search-bar-m {
  text-align: center;
  width: 100%;
  height: 7vh;
  font-size: 1.1em;
  /* padding: 11px; */
  border: 3px solid #ddd;
  border-radius: 15px;
}

.searchbar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  width: 75%;
  height: auto;
  color: #436f78;

}

.checkbox {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 5vh;
}

.properties {
  height: 25vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #436f78;
  margin-bottom: 5vh;
  border-radius: 15px;
}

.propertyimg1723 {
  background-image: url('1723main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.propertyimg2630 {
  background-image: url('2630.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.propertyimg209 {
  background-image: url('prima5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.propertyimg1816 {
  background-image: url('prima5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.propertyimgoceancounty {
  background-image: url('oceancounty1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.propertyinfo {
width: 50%;
height: 25vh;
display: flex;
/* justify-content: center; */
text-align: center;
align-items: center;
font-size: 1.5em;
font-family: Montserrat;
}

#pa2 {
  margin-bottom: 5vh;
}

#p2 {
  margin-bottom: 5vh;
}

.iframecontainer{
  display: none;
  width: 70%;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
}

/* .jfiframe {
  width: 100%;
  height: 100%;
} */

.fmodalmobile {
  /* background-color: #dec699;
  width: auto;
  cursor: pointer;
  font-size: 3vh; */
  padding: 2vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #dec699;
  font-size: 4vh;
  background-image: linear-gradient(rgba(67, 111, 120, 0.8), rgba(67, 111, 120, 0.8));
  width: auto;
  height: 7vh;
  cursor: pointer;
  /* display: inline-block; */
  border: 3px solid #dec699;
  margin-bottom: 5vh;
}

.uparrow {
  display: none;
}

.hello {
  color: #436f78;
  background-color: #dec699;
  font-size: 0.9em;
  border-radius: 5px;
  width: 50vw;
  height: 4vh;
}

.hello::option {
  color: #436f78;
  background-color: #dec699;
  font-size: 0.9em;
  border-radius: 5px;
  width: 40vw;
  height: 4vh;
}

.option {
  color: #436f78;
  background-color: #dec699;
  font-size: 0.9em;
  border-radius: 5px;
  width: 40vw;
  height: 4vh;
}
